.lxgl-result-wrapper {
    width: 100%;
}

.lxgl-result {

}

.lxgl-result-map {
    float: left;
    width: 225px;
}
.lxgl-map {
    width: 100%;
    height: 100%;
}

.lxgl-clear {
    clear: both;
}
